<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1 class="center-align">MongoDB Person entities</h1>
        <table class="centered highlight">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{range .Persons}}
                <tr>
                    <td>{{.Firstname}}</td>
                    <td>{{.Lastname}}</td>
                    <td>
                        <a href="/person/{{.ID.Hex}}" class="btn-floating btn-large waves-effect waves-light red">
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="/person/delete/{{.ID.Hex}}" class="btn-floating btn-large waves-effect waves-light red">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
        <br>
        <a href="/person/add" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </body>
</html>
